.App {
    height: 92vh;    
    overflow-y: hidden;
}
.top-container {
    margin-top: 1vh; 
    margin-bottom: 1vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details-image {
    width: 90vw;
    margin: 12px;
    margin-bottom: 8px;
}
.button-list-buttons-div {
    order: 1;
    text-align: center;
    position: relative;
}
.buttons-div {
    text-align: right;
    margin-right: 5vw;
    margin-bottom: 1vh;
}
button {
    font-family: sofia;
    color: darkslateblue;
    background-color: lightblue;
    border-radius: 12px;
    font-size: 1.5vh;
    margin: 1px;
    border-width: 1px;
    border-color: darkslateblue;
}
.details-container {
    width: 90vw;
    position: relative;
    text-align: center;
    /* order: 2; */
}
.span-title {
    color: darkslateblue;
    font-size: 2vh;
}
.sections {
    max-height: 80vh;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
}
.active {
    background-color: orchid;
    color: lightblue;
    font-size: 2vh;
}
.miniatures {    
    width: 22vw;
    margin: 10px;
    margin-bottom: 6px;
    border-radius: 2px;
}
.miniatures:hover, button:not(.active):hover {
    transform: scale(1.05);
    cursor:pointer;
}
.about {
    text-align: center; 
}
.about-span {
    color: darkslateblue;
    text-align: left;
    font-size: 2vh;
}

.me {
    border-radius: 50%;
    margin: 4vh;
}
.button-list, .button-close  {
    border-radius: 4px;    
    color: darkslateblue;
}
.button-list {
    font-size: 3vh;
    background-color: lightblue;     
}
.button-close  {
    font-size: 1.5vh;
    background-color: lightpink;
    position: absolute;
    top: 0px;
    right: 0px;
}
.button-close:hover {
    color: lightblue;
    background-color: orchid;
    cursor: pointer;
}
.icon-class {
    font-size: 40px !important;
    color: orchid;
}
.icon-class:hover {
    color: lightblue;
    cursor: pointer;
}
.error-class {
    color: red;
}
.miniatures-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 90vh;
    overflow-y: scroll;
}
@media (min-width: 560px) {
    .top-container {
        display: flex;
        flex-direction: row;
        max-height: 50vh;
     }
    .details-container {
        width: 580px;
       
    }
    .details-image { 
        width: 533px;
        margin: 12px;
        margin-bottom: 8px;

    }
    .button-list-buttons-div {
        order: 2;
        max-width: 40vw;
     }
    .buttons-div {
        margin-right: 3vw;
    }
    button {
        font-size: 2vh;
        margin: 4px;
    }
    .active {
        font-size: 2.5vh;
    }
    .photo-span {
        font-size: 3vh;
    }
    .miniatures {
        width: 12vw;
        border-radius: 4px;
        margin: 12px;
        margin-bottom: 8px;
    }
    .icon-class {
        font-size: 40px !important;
        color: orchid;
    }
    .icon-class:hover {
        color: lightblue;

        cursor: pointer;
      }
}
@media (min-width: 900px){
    .details-image {
        width: 533px;
    }
    .layout-class {
        display: flex;
        flex-direction: row;

    }
    .layout-menu {
        width: 400px;

    }
    .layout-outlet {

    }
    
}    
