.App {
    max-height: 92vh;    
    overflow-y: scroll;
}
.layout-class {
    background-color: lightblue;
    border-top-left-radius: 6px ;
    border-top-right-radius: 6px ;    
}
.layout-menu {
    height: 30px;
}
.layout-outlet{
    background-color: beige;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
}
.list-item-class:hover {
    background-color: darkslateblue;
    color: lightpink;
}
.divider-class {
    background-color: lightpink;
}
.details-container{
    position: relative; 
}
.details-image {
    width: 86vw;
    margin: 12px;
    margin-bottom: 8px;
}
.span-title {
    color: darkslateblue;
    font-size: 4vh;
    text-align: center;
}
.active {
    background-color: orchid;
    color: lightblue;
    font-size: 2vh;
}
.miniatures {    
    width: 22vw;
    margin: 6px;
    margin-bottom: 2px;
}
.miniatures:hover, button:not(.active):hover {
    transform: scale(1.05);
    cursor:pointer;
}
.about {
    text-align: center; 
}
.about-span {
    color: darkslateblue;
    font-size: 2vh;
}
.me {
    border-radius: 50%;
    margin: 4vh;
}
.button-close  {
    font-size: 1.5vh;
    background-color: lightpink;
    position: absolute;
    top: 2px;
    right: 2px;
}
.button-close:hover {
    color: lightblue;
    background-color: orchid;
    cursor: pointer;
}
.icon-class {
    font-size: 30px !important;
    color: orchid;
}
.icon-class:hover {
    color: lightblue;
    cursor: pointer;
}
.error-class {
    color: red;
}
.miniatures-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.miniatures-class::-webkit-scrollbar {
    display: none;
}
.all-galleries-class {
    max-height: 90vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.all-galleries-class::-webkit-scrollbar {
    display: none;
}
.small-icon {
    font-size: smaller !important;
}
@media (min-width: 560px) {
    .details-image { 
        width: 533px;
    } 
    .active {
        font-size: 2.5vh;
    }
    .miniatures {
        width: 12vw;
        margin: 12px;
        margin-bottom: 8px;
    }
    .icon-class {
        font-size: 40px !important;
    }
}
   
