@font-face {
    font-family: sofia;
    src: url('../fonts/SofiaSansCondensed-Regular.ttf');
}
html, body {
    font-family: sofia;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:beige;
    margin: 0px;
}
body {
    position: relative;
    background-color: darkslateblue;
}
header {    
    color: lightblue;
    background-color: darkslateblue;
    height: 5vh;
    font-size: 4vh;
}
footer {
    color:  orchid;
    background-color: lightblue;
    width: 100%;
    position: absolute;
    bottom: 0px;  
    height: 3vh;  
    font-size: 2vh;    
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
